<body>
  <main>
    <section class="headline">
      <h1>Welcome to CSE Motors!</h1>
    </section>

    <section class="big_car">
      <img src="./images/vehicles/delorean.jpg" alt="delorean" />
    </section>

    <section class="left_side">
      <h2>DMC Delorean</h2>
      <p>3 Cup holders</p>
      <p>Superman doors</p>
      <p>Fuzzy dice!</p>
    </section>

    <section class="below">
      <img src="./images/site/own_today.png" alt="" />
    </section>

    <div>
      <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <div>
          <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80 livin and I love it!" (5/5)</li>
          </ul>
        </div>
      </section>

      <section class="images" id="delorean-upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="four">
          <div class="upgrade-item">
            <img src="./images/upgrades/flux-cap.png" alt="flux-cap" />
            <a href="#" class="link">Flux Capacitor</a>
          </div>
          <div class="upgrade-item">
            <img src="./images/upgrades/flame.jpg" alt="flame" />
            <a href="#" class="link">Flame Decals</a>
          </div>
          <div class="upgrade-item">
            <img
              src="./images/upgrades/bumper_sticker.jpg"
              alt="bumper_sticker"
            />
            <a href="#" class="link">Bumper Stickers</a>
          </div>
          <div class="upgrade-item">
            <img src="./images/upgrades/hub-cap.jpg" alt="hub-cap" />
            <a href="#" class="link">Hub Caps</a>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>
