<% if (flashMessage) { %>
    <div class="flash-message">
        <p><%= flashMessage %></p>
    </div>
<% } %>

<h1>Add Classification</h1>

<div class="add-classification-form-container">
    
    <form
      action="/inv/addClassifications"
      method="post"
      class="add-classification-form">

      <label
        for="classification_name"
        class="add-classification-form-label"
        ></label>
        <h2 class="new-classification">Add New Classification</h2>

      <input
        type="text"
        id="classification_name"
        name="classification_name"
        required
        pattern="^[A-Za-z0-9]+$"
        title="No spaces or special characters allowed."
        class="add-classification-form-input"/>

        

      <button type="submit" class="add-classification-form-button">
        Add Classification
      </button>

      <p class="alert">Name Must Be Alphabetic Characters Only</p>

    </form>
  </div>
  </div>
  