<% if (flashMessage) { %>
    <div class="flash-message">
        <p><%= flashMessage %></p>
    </div>
<% } %>

<h1>Inventory Management</h1>

<p>This page allows you to manage all things related to inventory. You can add new classifications or inventory items using the links below:</p>

<div class="links">
    <a href="/inv/add-classification" class="btn">Add New Classification</a>
    <a href="/inv/add-inventory" class="btn">Add New Inventory Item</a>
</div>

<h2>Manage Inventory</h2>
<p>Select a classification to see those inventory items.</p>
<%- classificationSelect %>

<!-- Empty table where inventory items will be displayed -->
<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="/js/inventory.js"></script>