<div id="errorDiv">
    <h1 id="error_header"><%= title %></h1>
    <div class="funnyDiv" >
        <img id="errorImage" src="#" alt="Error Image">
    </div>
    <p id="error_message"><%= message %></p>
</div>
